RewriteEngine On
RewriteBase /

# if the file or folder exists, serve it
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise, send everything to index.php (your router)
RewriteRule ^ index.php [QSA,L]